/* You can add global styles to this file, and also import other style files */
.header {
    height: 50px;
    padding-top: 10px;
    background-color: #374C61;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}